.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .labelContainer {
    width: 80%;

    .inputContainer {
      margin: 0 0 20px 0;

      .inputStyles {
        height: 35px;
        width: 100%;
        padding: 0 10px;
        border: none;
        border-radius: 7px;
        box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
          rgba(17, 17, 26, 0.1) 0 24px 80px;
        &:focus {
          background: #e5e595;
          box-shadow: 0 0 2px 1px #a8a878;
          outline: none;
        }
      }
      .inputTextStyles {
        width: 100%;
        padding: 5px 10px;
        border: none;
        border-radius: 7px;
        resize: vertical;
        box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
          rgba(17, 17, 26, 0.1) 0 24px 80px;
        &:focus {
          background: #e5e595;
          box-shadow: 0 0 2px 1px #a8a878;
          outline: none;
        }
      }
    }
  }

  .btn {
    max-width: 230px;
    padding: 10px 5px;
    margin: 5px auto;
    color: white;
    background-color: #a8a878;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    &:hover {
      background-color: #bb933d;
      color: white;
      cursor: pointer;
    }
  }
}
