.mainContainer {
  display: flex;
  justify-content: space-between;

  .textContainer {
    margin: 0 10px;

    .titleText {
      color: #a8a878;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 2px 3px 8px #a8a878;
    }
    p {
      font-size: 20px;
      text-indent: 10px;
      margin: 5px auto;
      line-height: 1.6;
    }
  }

  .photoContainer {
    margin: 0 30px;
  }

  .photoSettings {
    min-width: 370px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: all 1s ease 0s;
    &:hover {
      transform: translateY(50px) scale(1.15);
      box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.6);
      //transform-origin: center;
      transition: all 1s ease 0s;
    }
  }

  @media (max-width: 900px) {
    .photoContainer {
      margin: 15px auto;
    }

    .photosettings {
      min-width: 230px;
    }
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

.loadingStyle {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #72712a;
}
