.container {
  display: flex;
  justify-content: space-between;

  .footItem {
    flex: 1;
    margin: 10px auto;
    padding: 5px;

    .title {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      text-transform: uppercase;
      font-weight: 700;
    }

    .titleText {
      display: flex;
      justify-content: center;
    }

    .phoneText {
      padding: 5px 0;
      display: flex;
      justify-content: center;

      .phone {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #a8a878;
        font-weight: 700;
        transition: all 1s ease 0s;
        &:hover {
          text-shadow: 2px 3px 8px #72712a;
          transition: all 1s ease 0s;
        }
      }
    }

    .faceIconContainer {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      .faceIcon {
        border-radius: 50%;
        transition: all 1s ease 0s;
        &:hover {
          border-radius: 50%;
          box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.6);
          transition: box-shadow 1s ease 0s;
        }
      }
    }
  }
}
