//.buttonBody {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  text-decoration: none;
//
//  .lincStyles {
//    text-decoration: none;
//  }
//
//  .btn {
//    text-decoration: none;
//    background: #a8a878;
//    height: 25px;
//    min-width: 150px;
//    border: none;
//    border-radius: 3px;
//    color: #fff;
//    font-size: 20px;
//    position: relative;
//    transition: 1s;
//    -webkit-tap-highlight-color: transparent;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    cursor: pointer;
//    padding: 5px 10px;
//    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
//      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
//
//    .circle {
//      text-decoration: none;
//      width: 5px;
//      height: 5px;
//      background: transparent;
//      border-radius: 50%;
//      position: absolute;
//      top: 0;
//      left: 100%;
//      overflow: hidden;
//      transition: 500ms;
//    }
//  }
//
//  .noselect {
//    -webkit-touch-callout: none;
//    -webkit-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    user-select: none;
//  }
//}
//
//.btn:hover {
//  background: transparent;
//  color: #72712a;
//}
//
//.btn:hover .circle {
//  height: 32px;
//  width: 100%;
//  left: 0;
//  border-radius: 3px;
//  color: #ffffff;
//  border-bottom: 2px solid #72712a;
//  text-shadow: 2px 3px 8px #a8a878;
//}

.buttonBody {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .lincStyles {
    text-decoration: none;

    .btn {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 2px solid #a8a878;
      border-radius: 0.6em;
      color: #72712a;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
      align-self: center;
      font-size: 1rem;
      line-height: 1;
      padding: 1em 0.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }

    .btn:hover,
    .btn:focus {
      color: #72712a;
      outline: 0;
    }

    .third {
      border-color: #a8a878;
      color: #fff;
      box-shadow: 0 0 40px 40px #a8a878 inset, 0 0 0 0 #a8a878;
      -webkit-transition: all 350ms ease-in-out;
      transition: all 300ms ease-in-out;
    }

    .third:hover {
      box-shadow: 0 0 10px 0 #a8a878 inset, 0 0 10px 4px #a8a878;
      text-shadow: 2px 3px 8px #a8a878;
    }
  }
}
