.buttonBody {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .lincStyles {
    text-decoration: none;

    .btn {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 2px solid #a8a878;
      border-radius: 0.6em;
      color: #72712a;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
      align-self: center;
      font-size: 1rem;
      line-height: 1;
      padding: 1em 0.8em;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }

    .btn:hover,
    .btn:focus {
      color: #72712a;
      outline: 0;
    }

    .third {
      border-color: #a8a878;
      color: #fff;
      box-shadow: 0 0 40px 40px #a8a878 inset, 0 0 0 0 #a8a878;
      -webkit-transition: all 350ms ease-in-out;
      transition: all 0.3s ease;
    }

    .third:hover {
      box-shadow: 0 0 10px 0 #a8a878 inset, 0 0 10px 4px #a8a878;
      text-shadow: 2px 3px 8px #a8a878;
      transition: all 0.5s ease;
    }
  }
}
