.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
    rgba(17, 17, 26, 0.1) 0 24px 80px;
}
