.textContainer {
  margin: 0 30px;

  .titleText {
    color: #a8a878;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 3px 8px #a8a878;
  }
  p {
    font-size: 20px;
    text-indent: 10px;
    margin: 5px auto;
    line-height: 1.6;
  }
}
