.container {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  //box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
}

@media (max-width: 900px) {
  .container {
    max-height: 100px;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
  }
}
