.container {
  display: flex;
  margin: 10px auto;

  .row {
    list-style: none;
    padding: 15px;
    border-radius: 2px;

    .itemBlockImg {
      margin: auto 0;
      .itemImg {
        max-width: 380px;
        width: 100%;
        box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
          rgba(17, 17, 26, 0.1) 0 24px 80px;
      }
    }

    .itemBlockText {
      max-width: 380px;
      width: 100%;
      padding: 15px;
      .itemTitle {
        color: #a8a878;
        text-align: center;
        text-shadow: 2px 3px 8px #a8a878;
      }
      .itemText {
        text-indent: 10px;
        margin: 5px auto;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width: 900px) {
  .row {
    padding: 15px 0;

    .itemBlockText {
      padding: 15px 0;
    }
  }
}
