.wrapper {
  list-style: none;
  margin: 20px auto;
  box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
  border-radius: 7px;

  .btnWrapper {
    display: flex;
    justify-content: end;

    .itemBtnContainer {
      margin: 10px;
      display: flex;
      justify-content: end;

      .itemBtn {
        border: none;
        border-radius: 50%;
        padding: 5px 10px;
        color: #eee4e5;
        background-color: #72712a;
        font-weight: 700;

        &:hover {
          background-color: #bb933d;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .titleWrapper {
    display: flex;
    justify-content: center;
    .itemTitle {
      padding: 0 5px 10px 5px;
      color: #a8a878;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 2px 3px 8px #a8a878;
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    .itemContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      padding: 20px 15px;

      .imgContainer {
        margin: 0 15px 20px 15px;
        max-width: 600px;
        width: 100%;
        .itemImg {
          width: 100%;
          border-radius: 7px;
          box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
            rgba(17, 17, 26, 0.1) 0 24px 80px;
        }
      }

      .itemDescription {
        max-width: 600px;
        width: 100%;
        margin: 0 10px;
        padding: 0 15px;
        .itemText {
          max-width: 700px;
          text-indent: 10px;
          margin: 5px auto;
          line-height: 1.6;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .wrapper {
    .contentWrapper {
      .itemContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        //.imgContainer {
        //  max-width: 300px;
        //  width: 100%;
        //}
      }
    }
  }
}

//.container {
//  display: flex;
//  width: 100%;
//  flex: 0 1 48%;
//  justify-content: center;
//  margin: 10px auto;
//  font-size: 14px;
//
//  .row {
//    display: flex;
//    list-style: none;
//    padding: 10px;
//    border-radius: 2px;
//    box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
//
//    .itemBlockImg {
//      margin: auto 0;
//      .itemImg {
//        max-width: 300px;
//        width: 100%;
//        box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px,
//          rgba(17, 17, 26, 0.1) 0 24px 80px;
//      }
//    }
//
//    .itemBlockText {
//      max-width: 300px;
//      width: 100%;
//      padding: 15px;
//      .itemTitle {
//        color: #a8a878;
//        text-align: center;
//        text-shadow: 2px 3px 8px #a8a878;
//      }
//      .itemText {
//        text-indent: 10px;
//        margin: 5px auto;
//        line-height: 1.6;
//      }
//      .description {
//        max-width: 230px;
//        padding: 10px 5px;
//        margin: 5px auto;
//        color: white;
//        background-color: #a8a878;
//        border-radius: 3px;
//        box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
//          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
//      }
//    }
//  }
//}
//
//@media (max-width: 680px) {
//  .row {
//    display: flex;
//    flex-direction: column;
//  }
//}
